.chroma {
    .hll {background-color:#404040}
    .c {color:#999999;font-style:italic}
    .err {color:#a61717;background-color:#e3d2d2}
    .esc {color:#d0d0d0}
    .g {color:#d0d0d0}
    .k {color:#58c158;font-weight:bold}
    .l {color:#d0d0d0}
    .n {color:#daad57}
    .o {color:#d0d0d0}
    .x {color:#d0d0d0}
    .p {color:#d0d0d0}
    .ch {color:#999999;font-style:italic}
    .cm {color:#999999;font-style:italic}
    .cp {color:#cd2828;font-weight:bold}
    .cpf {color:#999999;font-style:italic}
    .c1 {color:#999999;font-style:italic}
    .cs {color:#e50808;font-weight:bold;background-color:#520000}
    .gd {color:#d22323}
    .ge {color:#d0d0d0;font-style:italic}
    .gr {color:#d22323}
    .gh {color:#ffffff;font-weight:bold}
    .gi {color:#589819}
    .go {color:#cccccc}
    .gp {color:#aaaaaa}
    .gs {color:#d0d0d0;font-weight:bold}
    .gu {color:#ffffff}
    .gt {color:#d22323}
    .kc {color:#6ab825;font-weight:bold}
    .kd {color:#6ab825;font-weight:bold}
    .kn {color:#6ab825;font-weight:bold}
    .kp {color:#4dc1ef}
    .kr {color:#6ab825;font-weight:bold}
    .kt {color:#6ab825;font-weight:bold}
    .ld {color:#d0d0d0}
    .m {color:#3677a9}
    .s {color:#ed9d13}
    .na {color:#bbbbbb}
    .nb {color:#e883b6}
    .nc {color:#447fcf}
    .no {color:#daad57}
    .nd {color:#ffa500}
    .ni {color:#d0d0d0}
    .ne {color:#bbbbbb}
    .nf {color:#447fcf}
    .nl {color:#d0d0d0}
    .nn {color:#447fcf}
    .nx {color: #daad57;}
    .py {color:#d0d0d0}
    .nt {color:#6ab825;font-weight:bold}
    .nv {color:#40ffff}
    .ow {color:#6ab825;font-weight:bold}
    .w {color:#666666}
    .mb {color:#3677a9}
    .mf {color:#3677a9}
    .mh {color:#3677a9}
    .mi {color:#4dc1ef}
    .mo {color:#3677a9}
    .sa {color:#ed9d13}
    .sb {color:#ed9d13}
    .sc {color:#ed9d13}
    .dl {color:#ed9d13}
    .sd {color:#ed9d13}
    .s2 {color:#ed9d13}
    .se {color:#ed9d13}
    .sh {color:#ed9d13}
    .si {color:#ed9d13}
    .sx {color:#ffa500}
    .sr {color:#ed9d13}
    .s1 {color:#ed9d13}
    .ss {color:#f99800}
    .bp {color:#24909d}
    .fm {color:#447fcf}
    .vc {color:#40ffff}
    .vg {color:#3ec3be}
    .vi {color:#40ffff}
    .vm {color:#40ffff}
    .il {color:#3677a9}
}
