@media only screen and (max-width: 1200px) {
    header #search {
        display: none;
    }

    #local-sidebar {
        display:none;
    }

    #global-toc {
        position: sticky;
        top: 20px;
    }

    #sidebar-inner-container #search {
        display: inline-block;
        margin-bottom: 25px;
    }

    #sidebar-inner-container #search #search-input {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #article-body {
        font-size: 100%;
    }

    ul {
        padding-left: 20px;
    }

    table {
        width: 100%;
    }

    td, th {
        padding: 1px;
    }

    body.sidebar-open {
        overflow-y: hidden;
    }

    #sidebar {
        position: fixed;
        width: 0px;
        overflow-x: hidden;
        overflow-y: hidden; /* Edge is dumb */
        margin: 0;
        background-color: #fbfbfb;
        transition: width 0.1s linear, background 0.2s ease;
        white-space: nowrap;
        box-sizing: border-box;
        height: calc(100% - 53px);

        #sidebar-site-navigation {
            display: block;
        }
    }

    .dark #sidebar {
        background: #272727;
    }


    #sidebar.open {
        width: 102%;
        overflow-y: scroll;
        z-index: 1;
    }

    #sidebar-inner-container {
        padding: 0 30px;
    }

    #sidebar-inner-container #search {
        display: block;
    }

    #sidebar a {
        display: block;
        padding: 6px 10px;
    }

    #sidebar a:hover {
        border-bottom: 0;
    }

    #sidebar li {
        background: #ececec;
    }

    #sidebar li:nth-child(odd) {
        background: #f3f3f3;
    }

    .dark #sidebar li {
        background: #383838;
    }

    .dark #sidebar li:nth-child(odd) {
        background: #333333;
    }

    #sidebar li:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    #sidebar li:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #global-toc {
        top: initial;
        position: initial;
    }

    header {
        padding-right: 12px;
        padding-left: 12px;

        #toggle-sidemenu {
            display: block;
        }

        .container {
            display: flex;
            justify-content: center;
        }

        nav {
            display:none
        }
    }

    #search {
        display:none;
    }

    #logo {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0;
    }
}
