body, header, #sidebar a, #article-body code, .highlighted, td, th, li, hr, #article-body footer {
    transition: color 0.2s ease, background 0.2s ease, border-color 0.2s ease;
}

#article-body {
    transition: background 0.2s ease;
}

#article-body h1, #article-body h2, #article-body h3, #article-body h4, #article-body h5 {
    transition: color 0.2s ease;
}

#toggle-darkmode, #article-body a.external::after {
    transition: border-color 0.2s ease;
}

@font-face {
    font-family: 'font-awesome-rma';
    src: url('../fonts/font-awesome-rma.eot');
    src: url('../fonts/font-awesome-rma.eot#iefix') format('embedded-opentype'),
    url('../fonts/font-awesome-rma.woff2') format('woff2'),
    url('../fonts/font-awesome-rma.woff') format('woff'),
    url('../fonts/font-awesome-rma.ttf') format('truetype'),
    url('../fonts/font-awesome-rma.svg#font-awesome-rma') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "font-awesome-rma";
    font-style: normal;
    font-weight: normal;
    
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-link:before { content: '\e801'; }
.icon-down-open:before { content: '\e806'; }
.icon-left-open:before { content: '\e807'; }
.icon-right-open:before { content: '\e808'; }
.icon-up-open:before { content: '\e809'; }
.icon-link-ext:before { content: '\f08e'; }
.icon-twitter:before { content: '\f099'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-quote-left:before { content: '\f10d'; }
.icon-quote-right:before { content: '\f10e'; }
.icon-code:before { content: '\f121'; }
.icon-link-ext-alt:before { content: '\f14c'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-apple:before { content: '\f179'; }
.icon-windows:before { content: '\f17a'; }
.icon-linux:before { content: '\f17c'; }
.icon-facebook-squared:before { content: '\f308'; }

.disable-transition *, .disable-transition {
    transition: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fbfbfb;
}

::-webkit-scrollbar-thumb {
    background: #e8e8e8;
}

::-webkit-scrollbar-thumb:hover {
    background: #dedede;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    background-color: #fbfbfb;
}

.disable-transition, .disable-transition #article-body a.external::after {
    transition: none;
}

a {
    text-decoration: none;
    color: #00857b;
}

#article-body a.external::after {
    content: "ï…Œ";
    font-family: "font-awesome-rma";
    width: 1em;
    padding: 0px 4px 4px 4px;
    text-align: center;
    line-height: 1em;
    border-bottom: 1px solid #fff;
    font-size: 65%;
}

li p {
    margin: 0;
}

#article-body {
    font-size: 18px;
    flex: 1;
    background-color: #fff;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

#article-body a {
    border-bottom: 1px solid #e4f6f4;
    padding-bottom: 1px;
    transition: border-color 0.2s ease, color 0.2s ease;
}

#article-body img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#article-body img+.caption {
    text-align: center;
    font-size: 80%;
    color: #73777b;
    margin-top: 6px;
}

#article-body h1+img, #article-body h2+img, #article-body h3+img, #article-bodyh4+img, #article-body h5+img, #article-body h6+img,
#article-body h1+.figure, #article-body h2+.figure, #article-body h3+.figure, #article-body h4+.figure, #article-body h5+.figure, #article-body h6+.figure {
    margin-top: 14px;
}

#article-body h1, #article-body #search-results h2 {
    color: #f38e50;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}

#article-body h2 {
    color: #00978c;
    font-size: 30px;
}

#article-body h3 {
    color: #00857b;
    font-size: 1.25em;
}

#article-body h4 {
    color: #4c4c4c;
    font-size: 1.1em;
}

#article-body h2, h3, h4 {
    margin-bottom: 0;
    font-weight: 600;
}

b, strong, th {
    font-weight: 600;
}

#article-body p:first-of-type, h3:first-of-type, h4:first-of-type {
    margin-top: 6px;
}

#article-body .highlighted {
    background: #d1f5f1;
    border-radius: 4px;
}

#article-body .highlight pre {
    margin: 0;
}

#article-body .highlight, #article-body code {
    font-family: Consolas, "Lucida Sans Typewriter", monospace;
    padding: 15px;
    color: #d0d0d0;
    font-size: 90%;
    overflow-x: auto;
    border-radius: 4px;
}

/* Fix contrast issues in the Pygment theme */
#article-body .highlight span.o {
    color: #d0d0d0;
}

#article-body .highlight span.k {
    color: #58c158;
}

#article-body .highlight span.kp {
    color: #4dc1ef;
}

#article-body .highlight span.ss {
    color: #f99800;
}

#article-body .highlight span.n {
    color: #daad57;
}

#article-body .highlight span.nb {
    color: #e883b6;
}

#article-body .highlight span.no {
    color: #daad57;
}

#article-body .highlight span.vg {
    color: #3ec3be;
}

#article-body .highlight span.mi {
    color: #4dc1ef;
}

#article-body code {
    padding: 2px 5px;
    background: #202020;
}

#article-body a:hover {
    border-color: #fc8c47;
}

#edit-on-github {
    font-weight: 600;
}

#local-sidebar #edit-on-github + .caption {
    margin-top: 15px;
}

a:hover {
    color: #fc8c47;
}

table {
    border-spacing: 0;
    width: auto;
}

table p {
    margin-bottom: 6px;
}

td, th {
    border-bottom: 1px solid #e1e1e1;
    padding: 0.5rem 1rem;
    text-align: left;
    vertical-align: text-top;
}

.search li {
    list-style-type: none;
    border-left: 2px solid #f1f1f1;
    padding: 8px 24px;
}

ul.search {
    padding: 0;
}

#article-body .search a {
    border-bottom: 0;
}

header {
    height: 36px;
    padding: 8px;
    border-bottom: 1px solid #e4f6f4;
    background-color: #fff;
}

#search-form input {
    width: 270px;
    padding: 8px 13px;
    color: #669993;
    background-color: #e4f6f4;
    border: 2px solid transparent;
    border-radius: 4px;
    padding-left: 32px;
    height: 36px;
    box-sizing: border-box;
    transition: all .2s;
}

#search-form::before {
    content: '\e800';
    display: inline-block;
    font-family: "font-awesome-rma";
    margin-right: -40px;
    width: 36px;
    position: relative;
    color: #669993;
    font-size: 14px;
    text-align: center;
    padding: 7px 0;
    pointer-events: none;
}

#search-input:focus {
    background-color: #fff;
    color: #111;
    border-color: #f38e50;
    outline: none;
}

input#search-input::placeholder { /* for Firefox */
    opacity: 1;
}

#toggle-sidemenu {
    padding-right: 8px;
    margin-right: 16px;
    height:36px;
    display: none;
}

#sidemenu-icon {
    display: block;
    background: no-repeat center/16px url("../assets/menu.png");
    width: 36px;
    height: 36px;
    transition: none;
}

#toggle-darkmode {
    padding-left: 8px;
    margin-left: 16px;
    border-left: 1px solid #e4f6f4;
    height: 36px;
}

#darkmode-icon {
    display: block;
    background: no-repeat center/16px url("../assets/dark-off.png");
    width: 36px;
    height: 36px;
    transition: none;
}

#darkmode-icon:hover, .dark #darkmode-icon:hover, #sidemenu-icon:hover, .dark #sidemenu-icon:hover {
    background-color: #d1f0ec;
    border-radius: 18px;
    cursor: pointer;
}

.container {
    max-width: 1400px;
    margin: auto;
    clear: both;
}

.pull-right, .align-right {
    float: right;
}

.align-right {
    padding-left: 15px;
}

.pull-left, .align-left {
    float: left;
}

.align-left {
    padding-right: 15px;
}

#logo-header {
    float: left;
    margin: 0 15px 0 0;
    line-height: 44px;
}

#logo-header-image {
    max-height: 30px;
}

#sidebar {
    width: 195px;
    padding-top: 30px;
    margin: 0 15px;
    margin-right: 30px;
}

#sidebar-site-navigation {
    display: none;
}

#sidebar a {
    color: #000;
}

#sidebar a.current {
    color: #f38e50;
}

#sidebar a[href^="https://github.com"]::after {
    font-family: "font-awesome-rma";
    content: '\f09b';
    margin-left: .3em;
    width: 1em;
}

#sidebar a[href^="https://github.com"]::after {
    color: #828282;
    transition: color 0.2s;
}

#sidebar a[href^="https://github.com"]:hover::after {
    color: inherit;
}

#sidebar a.current:hover {
    border-bottom: 0;
}

#sidebar #search {
    display: none;
    float: none;
}

#local-sidebar {
    width: 195px;
    padding-top: 30px;
    margin: 0 15px;
    margin-left:30px;
    font-size: 0.96em;
}

#local-sidebar a {
    color: #8f9295;
}

#sidebar a:hover, #local-sidebar a:hover {
    border-bottom: 1px solid;
}

#local-sidebar #local-toc ul {
    border-left: 1px solid rgba(146, 149, 152, 0.15);
    padding-left: 15px;
}

#local-sidebar #local-toc ul:first-child, #local-sidebar #local-toc ul:first-child>li>ul {
    border-left: none;
    padding-left: 0;
}

#sidebar ul, #local-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1em;
}

#sidebar .caption, #local-sidebar .caption {
    margin: 0.2em 0;
}

#sidebar .caption {
    font-weight: 600;
}

#local-sidebar .caption {
    font-weight: 600;
}

#core {
    display: flex;
    flex-flow: row nowrap;
}

#core article {
    padding: 30px;
}

#local-sidebar #local-toc {
    position: sticky;
    top: 20px;
}

#search {
    display: inline-block;
}

#header-left {
    display: inline-block;
}

#header-left a {
    display: inline-block;
    margin: 5px 10px;
}

.headerlink {
    font: normal normal normal 14px/1 "font-awesome-rma";
}

#article-body h1 a.headerlink, #article-body h2 a.headerlink,
#article-body h3 a.headerlink, #article-body h4 a.headerlink,
#article-body h5 a.headerlink {
    border-bottom: none;
    margin-left: 0.4em;
    font-size: 70%;
    opacity:0;
    transition: opacity 0.2s, color 0.2s;
}

#article-body h1 a.headerlink:not(:hover), #article-body h2 a.headerlink:not(:hover),
#article-body h3 a.headerlink:not(:hover), #article-body h4 a.headerlink:not(:hover),
#article-body h5 a.headerlink:not(:hover) {
    color:inherit;
}

#article-body h1:hover a.headerlink, #article-body h2:hover a.headerlink,
#article-body h3:hover a.headerlink, #article-body h4:hover a.headerlink,
#article-body h5:hover a.headerlink {
    opacity:1;
}

/* Footer */

hr {
    margin: 30px 0;
    border: 1px solid #f1f1f1;
}

footer span.pull-right {
    margin: 10px 0;
    color: #767676;
}

/* Index */
#index-flex-container {
    display: flex;
    flex-wrap: wrap;
}

#index-flex-container section {
    flex: 1 0 25%;
    min-width: 200px;
    margin: 5px;
}

#index-flex-container section li {
    list-style-type: none;
}

#index-flex-container section ul {
    padding: 0;
}

/* Mobile Support */

@media only screen and (max-width: 1200px) {
    header #search {
        display: none;
    }

    #local-sidebar {
        display:none;
    }

    #global-toc {
        position: sticky;
        top: 20px;
    }

    #sidebar-inner-container #search {
        display: inline-block;
        margin-bottom: 25px;
    }

    #sidebar-inner-container #search #search-input {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #article-body {
        font-size: 100%;
    }

    ul {
        padding-left: 20px;
    }

    body.sidebar-open {
        overflow-y: hidden;
    }

    #sidebar {
        position: fixed;
        width: 0px;
        overflow-x: hidden;
        overflow-y: hidden; /* Edge is dumb */
        margin: 0;
        background-color: #fbfbfb;
        transition: width 0.2s linear, background 0.2s ease;
        white-space: nowrap;
        box-sizing: border-box;
        height: calc(100% - 53px);
    }

    .dark #sidebar {
        background: #272727;
    }

    #sidebar-site-navigation {
        display: block;
    }

    #sidebar.open {
        width: 100%;
        overflow-y: scroll;
        z-index: 1;
    }

    #sidebar-inner-container {
        padding: 0 30px;
    }

    #sidebar-inner-container #search {
        display: block;
    }

    #sidebar a {
        display: block;
        padding: 6px 10px;
    }

    #sidebar a:hover {
        border-bottom: 0;
    }

    #sidebar li {
        background: #ececec;
    }

    #sidebar li:nth-child(odd) {
        background: #f3f3f3;
    }

    .dark #sidebar li {
        background: #383838;
    }

    .dark #sidebar li:nth-child(odd) {
        background: #333333;
    }

    #sidebar li:first-child {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }

    #sidebar li:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    #global-toc {
        top: initial;
        position: initial;
    }

    header {
        padding-right: 12px;
        padding-left: 12px;
    }

    header #toggle-sidemenu {
        display: block;
    }

    header .container {
        display: flex;
        justify-content: center;
    }

    #header-left {
        display:none
    }

    #search {
        display:none;
    }

    #logo-header {
        flex: 1;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0;
    }
}

/* Dark Theme */

body.dark {
    background: #272727;
    color: #bfccc7;
}

.dark #article-body a.external::after {
    border-bottom-color: #2d2d2d;
}

.dark header {
    background: #272727;
    border-bottom-color: #1e1e1e;
}

.dark #header-left a {
    color: #4fa299;
}

.dark::-webkit-scrollbar-track {
    background: #272727;
}

.dark::-webkit-scrollbar-thumb {
    background: #4c4c4c;
}

::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f;
}

.dark #darkmode-icon {
    background: no-repeat center/16px url("../assets/dark-on.png");
}

.dark #toggle-darkmode {
    border-color: #1e1e1e;
}

.dark #article-body {
    background-color: #2d2d2d;
}

.dark #article-body a {
    border-bottom: 1px solid rgba(228,246,244,0.20);
}

.dark #article-body a:hover {
    color: #fc8c47;
    border-color: #fc8c47;
}

.dark #article-body h2, .dark #article-body h3, .dark #article-body a {
    color: #5ba098;
}

.dark #article-body h4 {
    color: #d5d5d5;
}

.dark #article-body img+.caption {
    color: #919497;
}

.dark #article-body .highlighted {
    background: #304e4b;
}

.dark td, .dark th {
    border-bottom: 1px solid #4c4c4c;
}

.dark #sidebar .caption {
    font-weight: 700;
}

.dark #sidebar a {
    color: #d2d2d2;
}

.dark #sidebar a.current {
    color: #ef9762;
}

.dark .search li {
    border-left: 2px solid #4c4c4c;
}

.dark #article-body .search a {
    border-bottom: 0;
}

.dark hr {
    border: 1px solid #4c4c4c;
}

.dark footer span.pull-right {
    color: #949494;
}

/* Dark Search */

.dark #search-form::before {
    color: rgba(228, 246, 244, 0.901);
}

.dark #search-form input {
    background-color: #547d79;
    color: #fff;
}

.dark input#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e4f6f4e6;
}
.dark input#search-input:focus::placeholder {
    color: #999;
}

.dark input#search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #e4f6f4;
}
.dark input#search-input:focus::-ms-input-placeholder {
    color: #999;
}

.dark #search-form::before:focus {
    color: #111;
}

.dark #search-input:focus {
    background-color: #191919;
    color: #fff;
    border-color: #f38e50;
    outline: none;
}
