<div class="flex text-3xl sm:text-xl text-font-2">
    <a href="https://www.youtube.com/gamedevalliance" class="social-icon ml-0 text-font hover:text-red-700" title="Youtube" aria-label="Youtube">
        {{- partial "fontawesome.html" "youtube" -}}
    </a>
    <a href="https://twitter.com/gamedevalliance" class="social-icon ml-4 text-font hover:text-blue-400" title="Twitter" aria-label="Twitter">
        {{- partial "fontawesome.html" "twitter" -}}
    </a>
    <a href="https://www.facebook.com/GameDevAlliance" class="social-icon ml-4 text-font hover:text-blue-700" title="Facebook" aria-label="Facebook">
        {{- partial "fontawesome.html" "facebook" -}}
    </a>
    <a href="https://github.com/gamedevalliance/" class="social-icon ml-2 text-font hover:text-white" title="GitHub" aria-label="GitHub">
        {{- partial "fontawesome.html" "github" -}}
    </a>
</div>
