#index-flex-container {
    display: flex;
    flex-wrap: wrap;

    section {
        flex: 1 0 25%;
        min-width: 200px;
        margin: 5px;

        li {
            list-style-type: none;
            margin: 0;
        }

        ul {
            padding: 0;
        }
    }
}

#scripts-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    section {
        flex: 1 0 25%;
        max-width: 180px;
        margin: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    #scripts-flex-container {
        section {
            flex: 1 0 20%;
        }
    }
}

@media only screen and (max-width: 600px) {
    #scripts-flex-container {
        section {
            flex: 1 0 45%;
        }
    }
}

$icon-list: (
    discord: 95%,
    facebook: 40%,
    twitter: 80%,
    youtube: 90%
);

%icon {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    padding: 8px 13px;
}

@media only screen and (max-width: 600px) {
    %icon {
        margin-right: 10px;
    }
}

@each $current-menu-item, $scale in $icon-list {
    .icon-#{$current-menu-item} {
        @extend %icon;
        background: no-repeat center url("/assets/#{$current-menu-item}.svg"), no-repeat -999px -999px url("/assets/#{$current-menu-item}-hover.svg");
        background-size: $scale;

        &:hover {
            background-image: url("/assets/#{$current-menu-item}-hover.svg")
        }
    }
}
