<!DOCTYPE html>
<html lang="fr">
{% include "_head.html" %}
<body class="disable-transition">
    <script>toggle_darkmode(document.getElementsByTagName("body")[0], Cookies.get("darkmode") == "true");</script>
    {% include "_header.html" %}

    <div id="core" class="container">
        <nav id="sidebar" role="navigation" aria-label="main navigation">
            <div id="sidebar-inner-container">
                <ul id="sidebar-site-navigation">
                    <li><a href="https://rpgmakeralliance.com">Forum</a></li>
                    <li><a href="https://discord.gg/RrBppaj">Discord</a></li>
                </ul>
                {% with placeholder="Recherche", name="sidebar-search" %}{% include "_searchbar.html" %}{% endwith %}
                <div id="global-toc">
                    {% set global_toc = toctree(maxdepth=1, includehidden=true) %}
                    {{ global_toc }}
                </div>
            </div>
        </nav>
        <article id="article-body">
            {% block body %}{% endblock %}
            {% include "_footer.html" %}
        </article>
        <nav id="local-sidebar" role="navigation" aria-label="local navigation">
            {% if pagename == "index" %}
            <a id="edit-on-github" href="https://github.com/rpgmakeralliance/wiki/blob/master/index.html">Modifier cette page</a>
            {% endif %}
            {% if pagename != "search" and pagename != "index" %}
            <a id="edit-on-github" href="https://github.com/rpgmakeralliance/wiki/blob/master/{{ pagename }}.rst">Modifier cette page</a>
            <p class="caption"><span class="caption-text">Sur cette page</span></p>
            <div id="local-toc">{{ toc }}</div>
            {% endif %}
        </nav>
    </div>
    <script src="{{ pathto('_static/js/jquery.min.js', 1) }}"></script>
    <script src="{{ pathto('_static/js/underscore.min.js', 1) }}"></script>
    <script src="{{ pathto('_static/js/doctools.min.js', 1) }}"></script>
    {%- for scriptfile in script_files %}
    <script src="{{ pathto(scriptfile, 1) }}"></script>
    {%- endfor %}
    {% block footer %}{% endblock %}

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'{{ url_root }}/',
            VERSION:'{{ release|e }}',
            LANGUAGE:'{{ language }}',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'{{ '' if no_search_suffix else file_suffix }}',
            HAS_SOURCE:  {{ has_source|lower }},
            SOURCELINK_SUFFIX: '{{ sourcelink_suffix }}'
        };
    </script>
</body>
</html>
